alias ll="ls -la"

# Git
alias g="git"
alias gd="git diff"
alias ga="git add"
alias gcm="git commit -m"
alias p='git pull --rebase'
alias P='git push'
alias PU="git pu"
alias PR="git pull-request"
alias go="git browse"
alias rpo="git rpo"

# Development
alias rc='rails c'
alias rs='rails s'
alias be='bundle exec'
alias br='bundle exec rake'
