# Bash
alias ll='ls -la'

# Git
alias g='git'
alias gd='git gd'
alias ga='git add'
alias gcm='git gcm'
alias p='git p'
alias P='git push'
alias PU='git pu'
alias PR='git pull-request'
alias go='git browse'
alias rpo='git rpo'
alias ru='git ru'
alias rubo='git rubo'
alias rup='git rup'
alias rubop='git rubop'
alias co='git co'
alias cob='git cob'

# Ruby Dev
alias rc='rails c'
alias rs='rails s'
alias be='bundle exec'
alias br='bundle exec rake'

# Heroku Belt
alias hl='heroku logs -t -a'
alias hb='heroku run bash -a'
alias hc='heroku run console -a'
alias ha='heroku apps'