#!/bin/bash

# Bash
alias c='bat'
alias cat='bat'
alias cp='cp -iv' # Asks for confirmation if overwritting existing file
alias ll='ls -FGlAhp'
alias mv='mv -iv' # Asks for confirmation if overwritting existing file
alias reload='source ~/.bash_profile'
alias rm='rm -iv' # Asks for confirmation when removing a file
alias f='open -a Finder ./' # Opens current directory with macos Finder
alias rmrf='rm -rf'

# Git
alias g='git'
alias gemc='git_edit_merge_conflicts'
## Commiting
alias ga='git ga'
alias gaa='git gaa'
alias gai='git gai'
alias gcm='git commit'
## Github
alias go='git browse'
alias PR='git PR'
alias PRO='~./dotfiles/github-pull-request'
## History
alias gl='git gl -20'
alias gla='git gl'
alias gll='git log'
alias up='git up'
## Maintenance
alias cleanup='clearb;rpo;ggc'
alias clearb='git clearb'
alias ggc='git gc --auto'
alias rpo='git rpo'
alias ggca='git gc --aggressive'
# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
## Master branch actions
alias com='git co master; p'
alias grm='git rebase master'
## Pushing & Pulling
alias p='git p'
alias P='git push'
alias PU='git pu'
alias PUF='git pu --force-with-lease'
## Status
alias cgs='clear; git st' # Clear screen and git status
alias gd='git gd'
alias gdf='git gdf'
alias gds='git gds'
alias gdsf='git gdsf'
alias gs='git st'

# Ruby
## Rubocoping
alias fix_ruby="grep -E 'rb|rake|Gemfile|ru' | xargs rubocop -a"
alias ru='git gsp | fix_ruby' # autocorrect ruby files listed on working directory & staging area
alias rum='git gdm | fix_ruby' # autocorrect ruby files in diff between current branch and master
alias solocop='rubocop -a --only' # autocorrect using a single cop by name (passed as argument)
# Bundle
alias b='bundle'
alias be='b exec'
alias br='be rake'
## RSpec
alias sp='be rspec --order rand'
alias spt='sp --tag'
alias spc='sp --color --format documentation --require spec_helper --require rails_helper spec'
alias sps='sp --seed'
alias spb='HEADFUL=true sp'
## Rails
alias rc='rails c'
alias rs='rails s'
alias rg='rails generate'
alias dbmigrate='rake db:migrate; rake db:migrate RAILS_ENV=test'
alias dbreset='rake db:drop; rake db:create; dbmigrate; rake db:seed'
## Jekyll
alias js='be jekyll serve --watch'
## Foreman
alias fs='foreman start'
alias fss=' foreman start -m all=1,search=0'
## Elasticsearch
alias estop='brew services stop elasticsearch@5.6'
alias estart='brew services start elasticsearch@5.6'

## Brew services
alias bws='brew services list'

# Dev
alias s='subl'
alias unused='git ctags; cat ./.git/tags | unused --stdin -C'

## Bebanjo
alias sshadd='ssh-add ~/.ssh/id_berto_bebanjo'
alias omo='open http://localhost:4001'
alias ose='open http://localhost:4002'
alias oid='open http://localhost:4000'

# OSX
alias btime="pmset -g batt | awk '/^ /{print \$5}'"
alias cmds="sed 's/|/\n/g' ~/.bash_history | awk '{CMD[\$1]++;count++;}END { for (a in CMD)print CMD[a] \" \" CMD[a]/count*100 \"% \" a;}' | grep -v \"./\" | column -c3 -s \" \" -t | sort -nr | nl |  head -n50"
alias lock='open -a /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app'
alias webcam='sudo killall VDCAssistant; sudo killall AppleCameraAssistant'

## Maintenance
alias bw='brew'
alias brew_maintenance='bw doctor; bw update; bw upgrade; bw cleanup -s; rm -rf "$(brew --cache)"; brewfile'
alias bb='bw bundle --global'
alias brewfile='(cd ~/dotfiles/tools; bb dump --force; bb cleanup --force; bb check; bb dump --force)'
alias update='gem update --system; brew cask upgrade; brew_maintenance; sudo softwareupdate -ia'

# Tools
alias wifi='wifi-password'
alias esen='trans es:'
alias enes='trans :es'
alias pu='paste_unindented'
alias yta='youtube-dl -f 140 -o "~/Downloads/%(title)s.%(ext)s"'

## Taskwarrior
alias t='task'
alias ta='task add'
alias tu='task undo'
alias td='task $1 done'
alias tm='task $1 modify'
alias tl='task info +LATEST' # Shows the info of the lastest added task
alias tan='task $1 annotate' # Adds a simple annotation
alias tanl='task $(task +LATEST _id) annotate' # Adds a simple annotation to latest added task
alias today='task +TODAY list' # Shows what's for today
alias ts='task synchronize' # Uses on-launch hook to sync with private repo
