#!/bin/bash

# Bash
alias c='ccat'
alias cat='ccat'
alias cp='cp -iv' # Asks for confirmation if overwritting existing file
alias ll='ls -al'
alias mv='mv -iv' # Asks for confirmation if overwritting existing file
alias reload='source ~/.bash_profile'
alias rm='rm -iv' # Asks for confirmation when removing a file

# Git
alias g='git'
alias gemc='git_edit_merge_conflicts'
## Commiting
alias ga='git ga'
alias gaa='git gaa'
alias gai='git gai'
alias gcm='git commit'
## Github
alias go='git browse'
alias PR='git PR'
alias PRO='~./dotfiles/github-pull-request'
## History
alias gl='git gl -20'
alias gla='git gl'
alias gll='git log'
alias up='git up'
## Maintenance
alias cleanup='clearb;rpo;ggc'
alias clearb='git clearb'
alias ggc='git gc --auto'
alias rpo='git rpo'
alias ggca='git gc --aggressive'
## Master branch actions
alias com='git co master; p'
alias grm='git rebase master'
## Pushing & Pulling
alias p='git p'
alias P='git push'
alias PU='git pu'
alias PUF='git pu -f'
## Status
alias cgs='clear; git st' # Clear screen and git status
alias gd='git gd'
alias gdf='git gdf'
alias gds='git gds'
alias gdsf='git gdsf'
alias gs='git st'

# Ruby
## Rubocoping
alias fix_ruby="grep -E 'rb|rake|Gemfile|ru' | xargs rubocop -a"
alias ru='git gsp | fix_ruby' # autocorrect ruby files listed on working directory & staging area
alias rum='git gdm | fix_ruby' # autocorrect ruby files in diff between current branch and master
alias solocop='rubocop -a --only' # autocorrect using a single cop by name (passed as argument)
# Bundle
alias b='bundle'
alias be='b exec'
alias br='be rake'
## RSpec
alias sp='be rspec'
alias spt='sp --tag'
alias spc='sp --color --format documentation --require spec_helper --require rails_helper spec'
alias spr='sp --order rand'
alias sps='sp --seed'
## Rails
alias rc='rails c'
alias rs='rails s'
alias rg='rails generate'
## Maintenance
alias r='rake'
alias dbmigrate='r db:migrate; r db:migrate RAILS_ENV=test'
alias dbreset='r db:drop; r db:create; dbmigrate; r db:dev_seed'
alias clearlocales='find config/locales/ -empty -delete; git checkout -- config/locales/custom/.keep'
alias sitemap="r sitemap:refresh:no_ping"
## Capistrano deployment
pre_deploy="$be cap preproduction deploy"
alias dep_pre="$pre_deploy:cleanup; $pre_deploy"
alias dep_pre_br='f(){ dep_pre branch="$1"; unset -f f; }; f'
pro_deploy='be cap production deploy'
alias dep_PRO="$pro_deploy:cleanup; $pro_deploy"
## Jekyll
alias js='be jekyll serve --watch'

# Dev
alias s='subl'
alias unused='git ctags; cat ./.git/tags | unused --stdin -C'
## Madrid
alias sshadd='ssh decideproxy ssh-add'
alias upstream_pull='git co master;git pull;git pull;git bd upstream;git cob upstream;git fetch upstream;git merge upstream/master'

# Heroku Belt
alias ha='heroku apps'
alias hb='heroku run bash -a'
alias hc='heroku run console -a'
alias hce='heroku run iex -S mix -a'
alias hco='heroku config -a'
alias hcos='heroku config:set'
alias hcou='heroku config:unset'
alias hl='heroku logs -t -a'
alias hps='heroku pg:psql -a'
alias hr='heroku restart -a'

# OSX
alias btime="pmset -g batt | awk '/^ /{print \$5}'"
alias cmds="sed 's/|/\n/g' ~/.bash_history | awk '{CMD[\$1]++;count++;}END { for (a in CMD)print CMD[a] \" \" CMD[a]/count*100 \"% \" a;}' | grep -v \"./\" | column -c3 -s \" \" -t | sort -nr | nl |  head -n50"
alias lock='open -a /System/Library/Frameworks/ScreenSaver.framework/Versions/A/Resources/ScreenSaverEngine.app'
alias webcam='sudo killall VDCAssistant; sudo killall AppleCameraAssistant'

## Maintenance
alias bw='brew'
alias brew_maintenance='bw doctor; bw update; bw upgrade; bw cleanup; bw prune; bw cask cleanup; brewfile'
alias bb='bw bundle --global'
alias brewfile='bb; bb dump --force; bb cleanup --force; bb check; bb dump --force'
alias update='sudo softwareupdate -ia; mas upgrade; brew_maintenance; gem update --system'

# Tools
alias wifi='wifi-password'
alias esen='trans es:'
alias enes='trans :es'
alias pu='paste_unindented'
